keycloak/hsperfdata_jboss
node_modules/

# Editor : Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


token.txt

# Python
__pycache__/