<div class="flex">
    <div class="w-2/12 h-screen bg-gray-800 mt-8 sm:mt-0">
        <div class="flex items-center justify-center mt-10 mb-10">
            <img class="w-8/12 cursor-pointer" src="../../assets/img/owly.png" routerLink="/home">
        </div>
        <nav *ngFor="let chatroom of chatroomsList" class="mt-2">
            <a class="transform flex items-center py-5 px-8 bg-gray-700 text-gray-100 text-xl rounded-none hover:translate-x-2" routerLink="/chatroom/{{chatroom.name}}/{{chatroom.id}}">
                <entypo name="chat"></entypo>
                <span class="mx-4 font-medium">{{chatroom.name}}</span>
            </a>
        </nav>
    </div>
    <div class="w-10/12 h-screen">
        <router-outlet></router-outlet>
    </div>
</div>