<div class="flex">
    <div class="w-2/12 h-screen bg-gray-800 mt-8 sm:mt-0">
        <div class="flex items-center justify-center mt-10 mb-10">
            <img class="w-8/12 cursor-pointer" src="../../assets/img/owly.png" routerLink="/home">
        </div>
        <div *ngIf="currentUser != undefined">
            <a (click)="navCreateChatroom()" class="flex items-center justify-center mb-5 text-gray-200 border border-gray-200 border-t border-r-0 border-b border-l-0 py-2 px4 text-xl cursor-pointer hover:text-gray-800 hover:border-gray-800 hover:bg-gray-200">
                <entypo class="mr-3" name="plus"></entypo>
                <span>Create a chatroom</span>
            </a>
            <span class="flex font-medium text-sm text-gray-400 px-4 my-4 uppercase">Chatrooms</span>
            <app-chatroom-list></app-chatroom-list>
            <a (click)="logout()" class="flex items-center justify-center mt-5 text-gray-200 border border-gray-200 border-t border-r-0 border-b border-l-0 py-2 px4 text-xl cursor-pointer hover:text-gray-800 hover:border-gray-800 hover:bg-gray-200">
                <entypo class="mr-3" name="logout"></entypo>
                <span>Logout</span>
            </a>
        </div>
    </div>
    <div class="w-10/12 h-screen">
        <router-outlet></router-outlet>
    </div>
</div>