.bottom-custom {
    bottom: 20px;
}

.right-custom {
    position: absolute;
    right: 30%;
}

.mt-custom-snackBar {
    margin-top: 10vh;
}

.h-custom-messages {
    height: 75vh;
    max-height: 75vh;
}

.h-custom-messages-w-reply {
    height: 70vh;
    max-height: 70vh;
}

.w-custom-messages {
    width: calc(100% * 11/12);
} 

.w-custom-message-w-panel {
    width: calc(100% * 8/12);
}

.w-custom-panel-closed {
    width: calc(100% * 0/12);
}

.w-custom-panel-opened {
    width: calc(100% * 3/12);
}

.h-custom-textInput {
    height: 15vh;
}

.h-custom-textInput-w-reply {
    height: 20vh;
}

.h-custom-reply {
    height: 8vh;
}

.mt-custom {
    margin-top: 4vh;
}

.max-h-custom-2 {
    max-height: 10vh;
}

.overflow-custom {
    overflow: auto !important;
}

::-webkit-scrollbar {
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.popup {
    display: none;
    bottom: 110%;
}

.tooltip:hover + .popup {
    display: flex;
}