.bottom-custom {
    position: absolute;
    bottom: 20px;
    width: 83.333333%;
}

.right-custom {
    position: absolute;
    right: 30%;
}

.h-custom-8 {
    height: 80%;
}

.h-custom-2 {
    height: 20%;
}

.max-h-custom-2 {
    max-height: 20%;
}

.max-h-custom-6 {
    max-height: 70%;
}

.overflow-custom {
    overflow: auto !important;
}