<app-top-bar title="Chatroom - {{nameChatroom}}"></app-top-bar>
<div class="flex bottom-custom">
    <textarea autosize
        class="flex w-10/12 ml-20 py-2 px-4 rounded-lg border border-gray-300 bg-gray-200 resize-none outline-none max-h-custom overflow-custom"
        rows="1"
        placeholder="Message..."
    ></textarea>
    <div class="flex transition transform rounded-full ml-5 h-12 w-12 flex items-center justify-center cursor-pointer border-4 border-gray-700 text-gray-700 text-3xl duration-200 hover:-rotate-90">
        <entypo name="right-open"></entypo>
    </div>
</div>
